.new-tweet {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.form {
  display: flex;
  flex-direction: column;
}

.buttonCounter {
  display: flex;
  justify-content: space-between;
}

.textarea {
  display: flex;
  flex-direction: column;
  border-bottom: 10px;
  background-color: antiquewhite;
}

button {
  font-family: "Bungee";
  background-color: darkblue;
  color: white;
}

.counter {
  font-family: "Bungee";
}